{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="form-group">
            {{ form.post.label }}<br>
            {% if form.post.errors %}
            {{ form.post(cols=32, rows=4, class="form-control is-invalid") }}<br>
            {% for error in form.post.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.post(cols=32, rows=4, class="form-control") }}<br>
            {% endif %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}" class="btn btn-link">Older posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}" class="btn btn-link">Newer posts</a>
    {% endif %}
{% endblock %}