{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="form-control">
            {{ form.username.label }}<br>
            {% if form.username.errors %}
            {{ form.username(size=32, class="form-control is-invalid") }}<br>
            {% for error in form.username.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.username(size=32, class="form-control") }}<br>
            {% endif %}
        </p>
        <p class="form-control">
            {{ form.email.label }}<br>
            {% if form.email.errors %}
            {{ form.email(size=64, class="form-control is-invalid") }}<br>
            {% for error in form.email.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.email(size=64, class="form-control") }}<br>
            {% endif %}
        </p>
        <p class="form-control">
            {{ form.password.label }}<br>
            {% if form.password.errors %}
            {{ form.password(size=32, class="form-control is-invalid") }}<br>
            {% for error in form.password.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.password(size=32, class="form-control") }}<br>
            {% endif %}
        </p>
        <p class="form-control">
            {{ form.password2.label }}<br>
            {% if form.password2.errors %}
            {{ form.password2(size=32, class="form-control is-invalid") }}<br>
            {% for error in form.password2.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
            {% else %}
            {{ form.password2(size=32, class="form-control") }}<br>
            {% endif %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}
